

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
        <form method="post" action="/jiami_action/">

            appid：100000<br>
            key：1234567890<br>
            data数据：<br>
            渠道类型(channelType):<input name="channelType" type="text" ><br>
            交易说明(transDesc):<input name="transDesc" type="text" ><br>
            主体id(businessId):<input name="businessId" type="text" ><br>
            账户类型(cashierType):<input name="cashierType" type="text" ><br>
            <button id="btn" type="submit">加密</button>

        </form>

</head>
<body>

</body>
</html>