

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
            appid：100000<br>
            key：1234567890<br>
            <br>
            data数据：<br>
            渠道类型(channelType):{{ channelType }}<br>
            交易说明(transDesc):{{ transDesc }}<br>
            主体id(businessId):{{ businessId }}<br>
            账户类型(cashierType):
                {% if cashierType == '0' %}
                    <a>快捷(QP)</a>
                {% elif cashierType == '1' %}
                    <a>POS</a>
                {% elif cashierType == '2' %}
                    <a>网银转账(ONLINEBANK)</a>
                {% elif cashierType == '3' %}
                    <a>其他</a>
                {% endif %}
            <br>

            <br>
            时间戳:{{ timestamp }}<br>
            加密报文:{{ s }}<br>
            签名:{{ sign }}<br>
            请求报文:{{ data }}<br>
</head>
<body>

</body>
</html>